<div id="top-ref" class="mx-3 my-4 d-flex align-items-center align-center">
    <a href="/">Cars</a>
    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
    <a class="active" href="/">List Car</a>
</div>

<div class="ms-3 mb-3 d-flex justify-content-between">
    <h2>List Car</h2>
    <a href="/add" class="btn btn-primary btn-add d-flex align-items-center">
        <img class="icon" src="../assets/fi_plus.png" alt="">
        Add New Car
    </a>
</div>

<div name="myRadio" class="ms-3">
    <a class="btn btn-outline-radio"  href="/">All</a>
    <a class="btn btn-outline-radio" href="/small">Small</a>
    <a class="btn btn-outline-radio" href="/medium">Medium</a>
    <a class="btn btn-outline-radio" href="/large">Large</a>
</div>

<div id="cars-card" class="row row-cols-1 row-cols-md-3 g-4 m-2">
</div>
